body{

 background-color:rgb(199, 228, 201);
text-align: center;
font-size: 30px;
font-family: cursive ;

}

.header{

color:rgb(65, 182, 182);
background-color: rgb(102, 69, 7);
width: 50vw;
text-align: center;
font-size: 55px;
margin-left: 20vw;
border-radius: 5px;
box-shadow:0 5px 3px 0 rgb(173, 165, 159);

}

input,select,button{

color:rgb(134, 26, 26);
border-radius: 7px;
margin:10px;
padding:10px;
font-size:15px;
font-family: cursive ;
border:none;
transition:all 0.5s ease-in-out ;
opacity: 0.3;

}

.previous,.current,.total{

transition:all 0.5s ease-in-out ;

}

input:focus{

    color:rgb(172, 75, 75);
border-width: medium;
border-style: groove;
background-color: rgb(252, 246, 252);

}

input:hover{

    font-size: 25px;
    opacity: 0.9;
 box-shadow:0 2px 2px 0 tomato;

}

select:hover{

    font-size: 25px;
    opacity: 0.9;
 box-shadow:0 2px 2px 0 goldenrod;

}

button:hover{

    font-size: 25px;
    opacity: 0.9;
 cursor: pointer;
 box-shadow:0 2px 2px 0 rgb(141, 123, 77);

}

.previous:hover{
    
    height: 100px;

}

.current:hover{

    height: 700px;
    margin-bottom: 70px;
    margin-top: 40px;
    
}

.total:hover{

    height: 100px;
    margin: 10px;
    
}

body:hover{

cursor: pointer;

}

